@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/Content/css/pgprincipal.css" />

<div class="container tree-column">
    <!-- Ultimas Ofertas-->
    <div id="" class="main-container row" style="border:1px solid blue">
        <div class="col-md-4">
            <h4 class="ÚLTIMAS OFERTAS">ÚLTIMAS OFERTAS:</h4>
            <div style="border:1px solid black;">
                <h5>Getting started</h5>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div><br />

            <div style="border:1px solid black;">
                <h5>Get more libraries</h5>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div><br />

            <div style="border:1px solid black;">
                <h5>Web Hosting</h5>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div><br />

            <p>Ver mais >></p>
        </div>

        <!-- Cargos Mais Procurados -->
        <div class="col-md-4">
            <h4 class="">CARGOS MAIS PROCURADOS:</h4>
            <div style="border:1px solid black;">
                <h5>Getting started</h5>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div><br />

            <div style="border:1px solid black;">
                <h5>Get more libraries</h5>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div><br />

            <div style="border:1px solid black;">
                <h5>Web Hosting</h5>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div><br />

            <p>Ver mais >></p>
        </div>

        <!-- Empresas Contratando-->
        <div class="col-md-4">
            <h4 class="">EMPRESAS CONTRATANDO:</h4>
            <div style="border:1px solid black;">
                <h5>Getting started</h5>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div><br />

            <div style="border:1px solid black;">
                <h5>Get more libraries</h5>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div><br />

            <div style="border:1px solid black;">
                <h5>Web Hosting</h5>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div><br />

            <p>Ver mais >></p>
        </div>
    </div>
</div>
