@{
    ViewBag.Title = "Conecta Empregos";
}

<link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<div class="container tree-column">
    <!-- Ultimas Ofertas-->
    <div id="" class="main-container row boxItens">
        <div class="col-md-4">
            <h4 class="titulos">Últimas Ofertas:</h4>
            <div style="border:1px solid black;">
                <h5 class="titlevaga">Getting started</h5>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div><br />

            <div style="border:1px solid black;">
                <h5 class="titlevaga">Get more libraries</h5>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div><br />

            <div style="border:1px solid black;">
                <h5 class="titlevaga">Web Hosting</h5>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div><br />

        </div>

        <!-- Cargos Mais Procurados -->
        <div class="col-md-4">
            <h4 class="titulos">Cargos mais Procurados:</h4>
            <div style="border:1px solid black;">
                <h5 class="titlevaga">Getting started</h5>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div><br />

            <div style="border:1px solid black;">
                <h5 class="titlevaga">Get more libraries</h5>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div><br />

            <div style="border:1px solid black;">
                <h5 class="titlevaga">Web Hosting</h5>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div><br />

        </div>

        <!-- Empresas Contratando-->
        <div class="col-md-4">
            <h4 class="titulos">Empresas Contratando:</h4>
            <div style="border:1px solid black;">
                <h5 class="titlevaga">Getting started</h5>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div><br />

            <div style="border:1px solid black;">
                <h5 class="titlevaga">Get more libraries</h5>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div><br />

            <div style="border:1px solid black;">
                <h5 class="titlevaga">Web Hosting</h5>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div><br />

        </div>
    </div>
</div>
